@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cocktail</h1>
</div>
<div>
    <h1>@Model.Name</h1>
    @Model.Description
    <p></p>
    @Model.Making
</div>
