@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1 class="display-4">Mercenery</h1>
</div>
<div>
    <h1>@Model.NameM</h1>
    @Model.DescriptionM
    <p></p>
    @Model.Gear
</div>